<div class="author-data suggestion-authors">
  <div class="author-data__main ">
    <div class="author author--inline">
      <span class="author__avatar author__avatar--small">
        <%= image_tag suggestion.author_avatar_url, alt: t("avatar", scope: "activemodel.attributes.group") %>
      </span>
      <span class="author__name">
        <% if suggestion.author.deleted? %>
          <span class="label label--small label--basic">
            <%= t(".deleted") %>
          </span>
        <% else %>
          <%= suggestion.author_name %>
        <% end %>
      </span>
    </div>

    <div class="publish-date">
      <%= t("activemodel.attributes.common.created_at") %>
      <%= l suggestion.created_at, format: "%d/%m/%Y" %>
    </div>
  </div>
</div>
