<div class="row collapse">
  <h1 id="suggestions-count" class="title-action__title section-heading">
    <%= render partial: "count" %>
  </h1>
  <% if allowed_to? :create, :suggestion %>
    <%= link_to create_suggestion_path(:select_suggestion_type), class: "title-action__action button small" do %>
        <%= t(".new_suggestion") %>
        <%= icon "plus", role: "img",  aria_label: t(".new_suggestion") %>
    <% end %>
  <% else %>
    <%= authorized_creation_modal_button_to create_suggestion_path(:select_suggestion_type), remote: true, class: "title-action__action button small hollow" do %>
      <%= t(".new_suggestion") %>
      <%= icon "plus" %>
    <% end %>
  <% end %>
</div>
