<p>
  <%= t("devise.mailer.confirmation_instructions.greeting", recipient: @suggestion.author.name) %>
</p>
<br/>

<p>
  <%== t "decidim.suggestions.suggestions_mailer.creation_subject", title: translated_attribute(@suggestion.title) %>.
</p>
<br/>

<p>
  <%== t("decidim.suggestions.suggestions_mailer.more_information") %>
</p>
<br/>

<p>
  <%= t("check_suggestion_details", scope: "decidim.suggestions.suggestions_mailer.suggestion_link") %>
  <%= link_to t("here",  scope: "decidim.suggestions.suggestions_mailer.suggestion_link"),
              decidim_admin_suggestions.edit_suggestion_url(@suggestion, host: @organization.host) %>
</p>

<br/>

<p>
  <%== t("layouts.decidim.mailer.footer") %>
</p>
