<% if current_initiative.no_signature? %>
  <p><%= t(".no_signature_explanation") %></p>
<% else %>
  <div id="initiative-<%= current_initiative.id %>-progress-bar" class="vote-cabin-progress-bar">

    <%= cell(
            "decidim/progress_bar",
            current_initiative.supports_count,
            total: current_initiative.supports_required,
            units_name: "decidim.initiatives.initiatives.votes_count.total_count",
            element_id: "initiative-#{current_initiative.id}-votes-total-count",
            subtitle_text: current_initiative.supports_goal_reached? ? t("decidim.initiatives.initiatives.votes_count.most_popular_initiative") : t("decidim.initiatives.initiatives.votes_count.need_more_votes"),
            small: false
        ) %>

    <% if current_initiative.votable_initiative_type_scopes.count > 1 %>
      <% accepts_online_and_offline_votes = current_initiative.accepts_online_votes? && current_initiative.accepts_offline_votes? %>
      <% current_initiative.votable_initiative_type_scopes.each_with_index do |type_scope, index| %>
        <% if current_initiative.accepts_online_votes? %>
          <%= cell(
                  "decidim/progress_bar",
                  current_initiative.online_votes_count_for(type_scope.scope),
                  total: type_scope.supports_required,
                  subtitle_text: accepts_online_and_offline_votes ?
                                     t("activemodel.attributes.initiative.online_votes_for_scope", scope_name: translated_attribute(type_scope.scope_name))
                                     : translated_attribute(type_scope.scope_name),
                  element_id: "initiative-scope-#{type_scope.id}-#{current_initiative.id}-votes-count",
                  horizontal: true
              ) %>
        <% end %>
        <% if current_initiative.accepts_offline_votes? %>
          <%= cell(
                  "decidim/progress_bar",
                  current_initiative.offline_votes_count_for(type_scope.scope),
                  total: type_scope.supports_required,
                  subtitle_text: accepts_online_and_offline_votes ?
                                     t("activemodel.attributes.initiative.offline_votes_for_scope", scope_name: translated_attribute(type_scope.scope_name))
                                     : translated_attribute(type_scope.scope_name),
                  element_id: "initiative-scope-#{type_scope.id}-#{current_initiative.id}-votes-count",
                  horizontal: true
              ) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
