<main class="wrapper">
  <div class="row collapse">
    <div class="columns large-8 large-centered text-center page-title">
      <h1><%= t(".sign_up") %></h1>
      <p>
        <%= t(".subtitle") %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns large-6 medium-10 medium-centered">
      <div class="card">
        <div class="card__content">
          <%= decidim_form_for(@form, as: resource_name, url: omniauth_registrations_path(resource_name), html: { class: "register-form new_user" }) do |f| %>

            <div class="field">
              <%= f.text_field :name, readonly: true %>
            </div>

            <h5 class="text-center">
              <%== t(".registration_title") %>
            </h5>

            <p>
              <%= icon "info" %>
              <%== t(".registration_info", more_url: page_path("terms-and-conditions")) %>
            </p>

            <div class="field">
              <%= f.email_field :email, oncopy: "return false", onpaste: "return false" %>
            </div>

            <div class="field">
              <%= f.email_field :email_confirmation %>
            </div>

            <div class="field">
              <%= f.check_box :tos_agreement, label: t(".tos_agreement", link: link_to(t(".terms"), page_path("terms-and-conditions"), rel: "noopener noreferrer", target: "_blank")) %>
            </div>

            <%= f.hidden_field :uid %>
            <%= f.hidden_field :provider %>
            <% if current_user %>
              <%= f.hidden_field :nickname, value: current_user.nickname %>
            <% end %>
            <%= f.hidden_field :oauth_signature %>
            <%= f.hidden_field :step, value: "step2" %>

            <div class="actions">
              <%= f.submit t(".complete_profile"), class: "button expanded" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
