<fieldset class="fieldset">
  <legend><%= t(".fieldset_title") %></legend>
  <%= f.fields_for :initiatives_settings do %>
    <%= f.check_box :allow_users_to_see_initiative_no_signature_option %>
    <%= f.number_field :sign_initiative_minimum_age %>
    <p class="help-text"><%= t(".sign_initiative_minimum_age_hint") %></p>
    <%= f.text_area :sign_initiative_allowed_postal_codes %>
    <p class="help-text"><%= t(".sign_initiative_allowed_postal_codes_hint") %></p>
  <% end %>
</fieldset>