<% url_params = (redirect_url.present? ? { redirect_url: redirect_url } : {}) %>

<div class="row column authorizations-list">
  <section class="section">
    <% if @granted_authorizations.any? %>
      <div class="card card--list">
        <% @granted_authorizations.each do |authorization| %>
          <% if authorization.expired? %>
            <%# Probably this is wrong way to handle it here, but it.. just works :/ %>
            <% is_omniauth = %w(saml csam).include?(authorization.metadata&.try(:[], :provider)) %>
            <% url = is_omniauth ? decidim.send("user_#{authorization.name}_omniauth_authorize_path") : authorization_method(authorization).root_path(**url_params) %>
            <%= link_to url, method: (is_omniauth ? :post : :get), title: t(".expired_verification"), class: "card--list__item" do %>
              <% render partial: "granted_authorization", locals: { authorization: authorization } %>
            <% end %>
          <% elsif authorization.renewable? %>
            <%= link_to "#", title: t(".show_renew_info"), data: { open: "renew-modal", "open-url": renew_modal_authorizations_path(handler: authorization.name) }, class: "card--list__item authorization-renewable" do %>
               <%= render partial: "granted_authorization", locals: { authorization: authorization } %>
            <% end %>
          <% else %>
            <div class="card--list__item">
              <%= render partial: "granted_authorization", locals: { authorization: authorization } %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div id="renew-modal" data-reveal class="reveal" aria-labelledby="<%= t("renew_modal.title", scope: "decidim.verifications.authorizations") %>" aria-hidden="true" role="dialog"></div>
    <% end %>

    <% if @pending_authorizations.any? %>
      <div class="card card--list">
        <% @pending_authorizations.each do |authorization| %>
          <%= link_to authorization_method(authorization).resume_authorization_path(**url_params) do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "reload", class: "card--list__icon", role: "img" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{authorization.name}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("started_at", scope: "decidim.authorization_handlers", timestamp: l(authorization.updated_at, format: :long)) %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right", role: "img" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if unauthorized_methods.any? %>
      <div class="card card--list">
        <% unauthorized_methods.each do |unauthorized_method| %>
          <%# Probably this is wrong way to handle it here, but it.. just works :/ %>
          <% is_omniauth = %w(saml csam).include?(unauthorized_method.name) %>
          <% url = is_omniauth ? decidim.send("user_#{unauthorized_method.name}_omniauth_authorize_path") : unauthorized_method.root_path(**url_params) %>
          <%= link_to url, method: (is_omniauth ? :post : :get) do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "lock-unlocked", class: "card--list__icon", role: "img" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{unauthorized_method.key}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("#{unauthorized_method.key}.explanation", scope: "decidim.authorization_handlers") %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right", role: "img" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if disabled_methods.any? %>
      <div class="card card--list disabled">
        <% disabled_methods.each do |method| %>
          <%= link_to decidim.destroy_user_session_path, method: :delete do %>
            <div class="card--list__item">
              <div class="card--list__text">
                <%= icon "account-logout", class: "card--list__icon" %>
                <div>
                  <h5 class="card--list__heading">
                    <%= t("#{method.key}.name", scope: "decidim.authorization_handlers") %>
                  </h5>
                  <span class="text-small">
                    <%= t("omniauth_anti_affinity.explanation", scope: "decidim.authorization_handlers") %>
                  </span>
                </div>
              </div>
              <div class="card--list__data">
                <span class="card--list__data__icon">
                  <%= icon "chevron-right" %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

  </section>

  <%= link_to decidim.account_path, class: "button hollow expanded user-profile" do %>
    <%= t("back_to_account", scope: "layouts.decidim.user_profile") %>
  <% end %>
</div>
